<META http-equiv="Refresh" content="5;URL=http://localhost:3000/products">

<div class="container">
	  <div class="row">
	  	名前をここにいれたい
	  	<hr>
	  	<div class="col-xs-12 text-center well well-lg">
	  		<h2 class="text-danger">ご注文ありがとうございました。</h2>
	  		<h6><p>ご登録メールアドレスにご注文商品のURLを送付いたします。</p>
	  		<p>メールが届かない場合は、迷惑メールフォルダーに振り分けられている場合があります。</p>
	  		<p>メールを確認できない場合は購入履歴の方にもURLがございますのでご確認ください。</p></h6>
	  		<p>5秒後にページが移動します</p>
	  	</div>
	  </div>
	</div>

