<META http-equiv="Refresh" content="3;URL=http://localhost:3000/products">
<div class="container">
<ol class="stepBar">
<li class="visited"><span>1</span><br>お問い合わせ入力</li>
<li class="visited"><span>2</span><br>お問い合わせ内容確認</li>
<li class="visited"><span>3</span><br>お問い合わせ完了</li>
</ol>

	<div class="row">
		<hr>
		<div class="col-xs-12 text-center well well-lg">
			<h2 class="text-danger">問い合わせ完了しました。</h2>
			<h6><p></p>
			<p></p>
			<p></p></h6>
			<p>3秒後にページが移動します</p>
		</div>
	</div>
</div>

