<META http-equiv="Refresh" content="3;URL=http://localhost:3000/products">
<div class="container">
<ol class="stepBar">
<li class="visited"><span>1</span><br>お問い合わせ入力</li>
<li class="visited"><span>2</span><br>お問い合わせ内容確認</li>
<li class="visited"><span>3</span><br>お問い合わせ完了</li>
</ol>

	<div class="row">
		<hr>
		<div class="col-xs-12 text-center well well-lg">
			<h2 class="text-danger">お問い合わせありがとうございます。</h2>
			<h6><p>お問い合わせ内容は3営業日以内に返信いたします。</p>
			<p>お問い合わせ内容を先ほど登録したメールアドレスに送付しています。</p>
			<p>またメールが届かない場合は、迷惑メールフォルダーに振り分けられている場合があります。</p></h6>
			<p>このページは3秒後にページが移動します.移動しない場合は<%= link_to 'こちら', homes_path %></p>
		</div>
	</div>
</div>

