<style type="text/css" media="screen">

div.main{
    background: 
      linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%),
      linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
  width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}


.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}


fieldset{
    padding:0;
    border:0;
    margin: 0;
}

#login form input[type="text"], input[type="password"] {
  background-color: #FFF;
  border-radius:  5px ;
  color: #000;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 200px;
}


.middle {
  display: flex;
  width: 600px;
   margin-right: 430px;
}


.login_form{
  border-radius:  5px ;
  width:200px;
  height:50px;
  margin-bottom: 10px;
}

.text_header-right a {
    display: block;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}



   .wrapper{
    position:absolute;
    top:70%;
    left:70%;
    transform: translate(-50%,-50%);
    width:30%;
}

path{
    stroke: #F6F7FB;
    fill: #F6F7FB;
    stroke-dasharray: 1110;
    opacity: 10;
    animation: animate 3s cubic-bezier(0,.48,1,.3);
}

@keyframes animate{
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1110;
    }

    30%{
        opacity:10;
        fill: none;
        stroke-dashoffset: 1110;
    }

    90%{
        fill: rgba(255,255,255,0);
    }

    100%{
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}


/*ここまでログイン,新規登録関係*/  
</style>



<div class="main">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container">
      <center>
        <div class="middle">
          <div id="login">
                <form action="javascript:void(0);" method="get">
                <fieldset class="clearfix">
                    <%= f.email_field :email,class: "login_form text-center",Placeholder: "Admin Email" , autofocus: true, autocomplete: "email" %>
                      <%= f.password_field :password ,class: "login_form text-center",Placeholder: "Admin Password", autocomplete: "off"  %>
                    <div>
                        <%= f.submit "Login" ,class: "btn btn-default col-xs-8 col-xs-offset-2" %>
                    </div>
                </fieldset>
                <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div> <!-- end login -->
            <div class="logo">
<div class="wrapper">

<svg version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
   y="0px" viewBox="0 0 730.9 305" style="enable-background:new 0 0 730.9 305;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#F6F7FB;stroke:#F6F7FB;stroke-width:3;stroke-miterlimit:10;}
</style>
<g>

  <path class="st0" d="M45.6,218c-7.2,2.4-15.6,7.2-23.7,7.2c-4.2,0-9.3-0.9-9.3-6.3c0-6.9,14.1-23.7,18.6-29.7
    c2.7-3.6,4.8-7.2,9.3-8.4c12.6-3,26.1-3.3,38.7-5.7l87.3-103.8c10.8-12.9,54.9-57.6,70.8-57.6c10.2,0,15,10.8,15,19.5
    c0,19.2-24.6,54.3-34.2,71.4c2.4,0.3,5.4,0.9,5.4,4.2c0,5.4-12.6,14.4-16.8,17.4c-5.1,3.6-20.4,15.6-26.1,15.6
    c-5.4,0-6.9-4.5-6.9-9c0-22.5,25.8-55.2,40.2-71.4c2.4-2.7,2.7-5.7,0.6-5.7c-3.9,0-16.8,12-50.1,50.1l-60,68.7
    c49.8,9.6,75.6,14.7,120.6,25.5l-15.9,15.9c-19.2,19.2-18,19.8-76.8,7.5c-26.4-5.7-53.1-9.3-80.1-8.4L45.6,218z"/>
 
  <path class="st0" d="M361.8,178.7c-13.5,17.1-26.7,24.3-48.6,24.3c-12.6,12.9-27.3,22.5-46.2,22.5c-15.6,0-30-15.6-31.2-42.9
    c-0.6-22.5,10.5-37.5,27.3-50.4c16.2-13.2,37.8-21.3,56.1-22.2c6.6-0.3,16.5,2.7,16.5,10.8c0,4.5-3.6,6.3-6.9,8.1
    c9,2.4,10.8,8.7,10.8,17.7c0,13.2-6,23.7-11.7,35.4c13.2,2.4,21.6-9,30.9-15.9L361.8,178.7z M270.3,164.6
    c-6.6,6.6-12.3,18.3-12.3,27.6c0,8.7,5.7,11.4,13.2,11.4c9.9,0,16.2-5.7,23.1-12c-2.1-4.8-3.6-8.7-3.6-13.8
    c0-15.6,14.1-34.5,12.9-35.1C293.4,148.7,279.3,155.9,270.3,164.6z"/>
 
  <path class="st0" d="M438.3,180.2l-0.6-0.6c-10.8,12-42.3,39.3-58.8,39.3c-16.8,0-22.5-21.9-22.5-35.1c0-39.3,65.4-71.1,88.5-73.2
    c4.2-0.3,15.9,0.9,15.9,7.5c0,5.4-6,9.6-9.9,12.3L416.7,149c-18.9,10.2-41.1,18.6-38.4,40.5c0.3,2.4,2.1,3,4.8,3
    c8.4,0.9,26.7-6.3,38.1-18.6l32.1-35.4c3-3.3,6.6-8.4,11.4-8.4c6,0,11.4,10.2,11.4,15.3c0,4.5-4.2,11.4-6.3,15.3l-22.5,42l0.6,0.6
    l45.6-32.7l1.5,12.6l-63.3,47.4c-31.5,50.1-57.9,69.3-69.6,69.3c-4.2,0-6.9-3.3-6.9-7.2c0-21.6,45.6-59.4,62.1-71.4L438.3,180.2z"
    />

  <path class="st0" d="M575.7,184.7c-13.5,16.5-39.9,43.5-62.7,43.5c-17.7,0-25.8-20.4-25.8-35.7c0-36.6,37.5-72.3,55.5-72.3
    c5.1,0,13.2,1.8,13.2,8.4c0,15-29.7,41.7-42.3,50.4c-2.4,12.3,2.1,18.9,15.9,18.9c15.9,0,31.5-15.9,43.5-24.6L575.7,184.7z
     M546.9,101.3c0-12.3,14.4-23.1,26.1-23.1c5.4,0,9.9,3.9,9.9,9.3c0,12-11.1,26.7-24,26.7C551.7,114.2,546.9,108.5,546.9,101.3z"/>

  <path class="st0" d="M714.9,164.3l2.4,13.2c-15.9,14.1-46.8,51-68.7,51c-11.4,0-16.8-9.6-16.8-19.8c0-18,16.2-37.8,25.8-51.6
    l-0.6-0.6c-17.4,12.9-32.7,28.5-46.2,45.9c-4.5,5.7-15.6,20.4-23.7,20.4c-13.2,0-16.5-18.9-16.8-29.1c-0.9-20.7,18-51,35.4-65.7
    c3.9-3.3,6.6-3.6,11.7-3.6c18,0.6,16.5,4.8,16.5,6.6c0,11.7-37.8,42-37.8,49.2c0,1.8,1.5,3.3,3.3,3.3c2.1,0,4.8-2.7,6-4.2
    c24-30.6,79.2-67.5,87.9-67.5c1.2,0,3,1.5,4.8,5.7c1.8,4.5,3.6,9.9,4.5,16.2c0,11.7-36.9,34.5-36.9,55.2c0,2.7,2.4,5.4,5.4,5.4
    c7.2,0,20.4-10.5,25.8-15L714.9,164.3z"/>


</g>
</svg>
</div>
            <div class="clearfix"></div>
          </div>
        </div>
      </center>
    </div>
  <% end %>
</div>

