<!-- <h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>
 -->



<head>
	<title></title>
	<style type="text/css" media="screen">
		/* BLOCK 1*/
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 100%;
}


h2 {
  text-align: center;
  font-size: 80px;
  margin: 0;
  width: 100%;
}

.header {
  background-image: url("https://createkt.com/wp-content/uploads/2017/04/lifezakk_space_1-1200x630.png");

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.header h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-family: impact;
  text-shadow: 0 0 50px #000;
  position: absolute;
  width: 100%;
  top: 35%;
}

.header:before {
  content: "";
  position: absolute;
  height:300px;
  width: 300%;
  background: #fff;
  bottom: -200px;
  left: -100%;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}


/* BLOCK2 */
.block2 {
  position: relative;
  height: 1500px;
}

.block2 h2 {
  position: absolute;
  top: 45%;
}













.header2 {
  background-image: url("https://createkt.com/wp-content/uploads/2017/04/lifezakk_space_1-1200x630.png");

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.header2 h1  {
  margin: 0;
  text-align: center;
  color: red;
  font-size: 100px;
  font-family: impact;
  text-shadow: 0 0 50px #000;
  position: absolute;
  width: 100%;
  top: 50%;
  left:20%;
}


.header2 h2 {
  margin: 0;
  text-align: center;
  color: blue;
  font-size: 100px;
  font-family: impact;
  text-shadow: 0 0 50px #000;
  position: absolute;
  width: 100%;
  top: 60%;
  left:20%;
}


.header2 h3{
  margin: 0;
  text-align: center;
  color: orange;
  font-size: 100px;
  font-family: impact;
  text-shadow: 0 0 50px #000;
  position: absolute;
  width: 100%;
  top: 70%;
  left:20%;
}

.header2:before {
  content: "";
  position: absolute;
  height:300px;
  width: 300%;
  background: #fff;
  bottom: -300px;
  left: -100%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}


/* BLOCK2 */
.block2 {
  position: relative;
  height: 1500px;
}

.block2 h2 {
  position: absolute;
  top: 45%;
}


	</style>
</head>

	<div class="header">
    <h1>MY PAGE</h1>
  </div>
  <div class="block2">
    <h2><%=link_to "product/indexへGO", products_path %></h2>
  </div>




	<div class="header2">
    <h1>MY PAGE</h1><br>
    <h2>MY PAGE</h2><br>
    <h3>MY PAGE</h3>
  </div>
  <div class="block2">
    <h2><%=link_to "product/indexへGO", products_path %></h2>
  </div>

