/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";




/*//ここから全部の共通CSS＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.icon{
  padding-right:1%;
}

h1, h2, h3, h4, h5, h6{
  color: #201B21;
font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6{
  color: #201B21;
   font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

div#sampleContentA {
  color: #201B21;
}

div#sampleContentB {
    color: #201B21;
}

a{
  text-decoration: none;
   color: #201B21;
}

a:hover{
  text-decoration: none;
   color: #515151;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




 ul, li {
  list-style:none;
    color: #201B21;
}

.products .not_padding {
    color: #201B21;
}


.table > thead > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > th, 
.table > tfoot > tr > td {
    color: #201B21;
}


td, th {
    color: #201B21;
}


html {
	height:100%;
	}

body {
	height:100%;
	margin:0px;
	padding:0px;
	}




.top_logo{
  margin-top: 35px;
  height:70px;
  width:240px;
}

.btn_Sign_up{
  margin-top:20px;
}



.btn_reset_password{
  margin-top:10px;
}


.login_logo_text{
  color: #F6F7FB;
   white-space: nowrap;
}


.header_nav_top{
  /*background-color:#201B21;*/
    background: 
      linear-gradient(to bottom, #323232 0%, #201B21 40%, #1C1C1C 150%),
      linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}

.header_nav{
   /*background-color:#201B21;*/
    background: 
      linear-gradient(to bottom, #323232 0%, #201B21 40%, #1C1C1C 150%),
      linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  margin-bottom: 50px;
  margin-top: -10px;
}



  .admin_td{
     white-space: nowrap;
  }


.text_header-right{
  height:150px;
}

.text_header-left{
  height:150px;
}

    .text_header-right li{
    list-style:none;
    line-height:150px;
  }

    .text_header-left{
    list-style:none;
  }

      .text_header-right a{
    display:block;
    color: #F6F7FB;
    text-decoration: none;
  }

  .text_header-left a{
    color: #F6F7FB;
    text-decoration: none;
  }



  .icon-position{
    line-height:60px;
    padding-top:45px;
    list-style:none;
  }

/*ここからがサイドメニュー*/
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*マイページボタンのスタイル*/
#nav-open {
    display: inline-block;
    color: #F6F7FB;
    vertical-align: middle;
    text-decoration: underline;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    font-weight:700;
    text-decoration: none;
    list-style:none;
}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

#nav-open:hover{
  color: #2E7CD4;
}

/*中身*/

/*マイページアイコン部分*/
.position_header{
  line-height:150px;
  margin:0;
}

/*サイドメニュー内*/

.side_icon{
  display: inline-block;
  color:#F6F7FB;
}


.side_menu_list{
  font-weight: 400;
  display: inline-block;
  width:100%;
  padding:20px 0px;
  color:#F6F7FB;
}

.side_menu_point{
  font-weight: 400;
  display: inline-block;
  width:100%;
  padding:20px 0px;
  color:#F6F7FB;
}

.side_menu_list:hover{
 border-left: solid 5px #00B4FF;
   color:#00B4FF;
}


.side_menu_sns{
  font-weight: 400;
  float:left;
  margin:0 auto;
  display: inline-block;
  width:33%;
  padding:20px 10px;
  color:#F6F7FB;
}

.side_menu_sns:hover{
 border-bottom: solid 2px #00B4FF;
  color:#00B4FF;
}


.side_user_name{
   font-weight: 400;
  font-size:30px;
  margin:20px 0px;
  color:#F6F7FB;
}
    #side_notice{
      /*padding-top:50px;*/
      border-top: 10px solid #00B4FF;
    }


    


#not_point_notice{
      padding-top:50px;
      border-top: 10px solid #00B4FF;
    }


    .side_menu_list_point{
      margin-bottom: 50px;
      
    }

/*サイドメニュー内*/


#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る*/
    max-width: 300px;/*最大幅*/
    height: 100%;
    background: #222;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    transform: perspective(500px) rotateY(90deg);/*左に隠しておく*/
    border-bottom: 10px solid #00B4FF;

}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}



#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.slide_icon_image{
    border-radius: 50%;
    width:  150px;
    height: 150px;
    margin: 0 auto;
}

/*ここまでがサイドメニュー*/


/*モーダル用*/


    #modal-content {
        width: 50% ;
        margin: 0 ;
        padding: 10px 20px ;
        border: 2px solid #aaa ;
        background: #F6F7FB ;
        position: fixed ;
        display: none ;
        z-index: 2 ;
    }
    #modal-content-innar{
        margin:0 auto;
        width:80%;
    }
    #modal-overlay {
        z-index: 1 ;
        display: none ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
        width: 100% ;
        height: 120% ;
        background-color: rgba( 0,0,0, 0.75 ) ;
    }
    .button-link {
        color: #201B21 ;
        text-decoration: underline ;
        text-decoration: none;
    }
    .button-link:hover {
        cursor: pointer ;
        color: #201B21 ;
        text-decoration: none;
    }

    .facebook {
        color: rgb(49, 65, 150);
    }
    .twitter {
        color: rgb(85, 172, 238);
    }

    
    .login-h3{
        border-bottom:1px solid rgb(170, 170, 170);
    }

    .sign_up-h3 {
        border-bottom:1px solid rgb(170, 170, 170);
        margin-bottom:50px;
    }

    .btn-p{
        margin-bottom:20px;
    }

    .btn-sign_up{
        color: #F6F7FB;
    }

    .btn-sign_up:hover{
        color: #666;
    }

    .btn-facebook{
        background:#315096;
        color: #F6F7FB;
    }

    .btn-facebook:hover{
        color: #666;
    }

    .btn-twitter{
        background:#00B4FF;
        color: #F6F7FB;
    }

    .btn-twitter:hover{
        color: #666;
    }

    .btn-google{
        background:#dd4b39;
        color: #F6F7FB;
    }

    .btn-google:hover{
        color: #666;
    }

    .batu{
        font-size:50px;
        color:#201B21;
    }


    


    .login-h3 {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #337ab7;
}
.login-h3::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

/*モーダル用*/

    #admin_notice{
        padding-top:70px;
    }




/*ここからヘッダーエフェクト*/



.css_change{
    text-decoration: underline;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    -ms-transition: .8s;
    transition: .8s;
    font-weight:700;
    color: #F6F7FB;
    text-decoration: none;
    list-style:none;
}

.css_change:hover {
     color: #2E7CD4;
}


/*ここまでヘッダーエフェクト*/

/*ここからショッピングステップ*/

.stepBar {
  display: flex;
  max-width: 600px;
  position: relative;
    margin: 20px 21%;
  text-align: center;
}
.stepBar li {
  font-size: 12px;
  list-style: none;
  position: relative;
  width: 33.333%;
}
.stepBar li:after {
  background: #D0E1F9;
  content: "";
  width: calc(100% - 24px);
  height: 4px;
  position: absolute;
  left: calc(-50% + 12px);
  top: 10px;
}
.stepBar li:first-child:after {
  display: none;
}
.stepBar li span {
  background: #D0E1F9;
  color: #F6F7FB;
  display: inline-block;
  height: 24px;
  margin-bottom: 5px;
  line-height: 24px;
  width: 24px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.stepBar .visited:after {
  background: #4D648D;
}
.stepBar .visited span {
  background: #4D648D;
}

.footer_main{
  background: #CCCCCC;
 background-color:#EEEEEE;
  margin:100px 0px 0px 0px;
}


/*ここまでショッピングステップ*/


/*//ここまで全体に対してのスタイリングCSS*/

/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからproductsに対してのスタイリングCSS*/

.products{


.product_title {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #337ab7;
}
.product_title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

.search_product {
  position: relative;
  padding: .25em 0 .45em .75em;
  }

.search_product::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}



    .box_scrollbar {
        overflow-x:auto;
        height:380px;
    }

    .admin_box_scrollbar {
        overflow:auto;
        height:400px;
      }

    .tag_box_scrollbar {
        overflow:auto;
        height:200px;
      }

    .edit_comment_scrollbar{
       overflow:auto;
       height:200px;
    }


.search_product{
  margin-top:20px;
   white-space: nowrap;
}

		.haba{
		     height: 700px;
		     z-index: 1;
		}

		.haba_all{
		      height: 30%;
    margin-bottom: 20px;
		}

		.product_image{
		     height: 100%;
		     width: 100%;
		}



		.haba_image{
         position: relative;
		     margin: 0px -10px;
		     height: 90%;
		}

    .new_image{
        position: absolute;
         left: -5px;
         top: 15px;
         width:30%;
         height:15%;
         transform: rotate( -45deg );
    }

		.haba_text{
		     margin: 0px -20px;
		     height: 20%;
		}


		/*商品画像hover用*/
		.haba_image {
		     position: relative;
		}

		.caption {
		     font-size: 100%;
		     text-align: center;
		     padding-top: 30%;
		     color: #F6F7FB;
		     word-wrap: break-word;
		}

		.mask {
		     width: 96.5%;
		     height: 90%;
		     position: absolute;
		     top: 0%;
		     left: 1.8%;
		     opacity:0;
		     background-color: rgba(0,0,0,0.4);
		     transition:	all 0.2s ease;
		}

		.haba_all:hover .mask {
		     opacity: 1;
		}


		.product_show_image{
			width:100%;
      height:500px;
		}


		.panel{
			padding: 0px;
		}



/*スライダー*/


    .slick-slide {
      margin: 0px 5px;
    }

    .slick-slide img {
      width: 100%;
      height: 250px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }


/*商品新規登録フォーム*/


.product_new_form{
  height:300px;
    color: #201B21;
    background: #FFF;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    resize: none;
}


.product_new{
    color: #201B21;
    background: #FFF;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    resize: none;
}


/*商品新規登録フォーム*/
label{
  color:#201B21;
}

input[type="file"] {
    color: #201B21;
}

.confirm_text{
     color: #201B21;
}

.product_icon {
    color: #201B21;
}



.index_price{
  margin-bottom:-3px;
  color: #201B21;
}

.product_price{
  display:inline;
}

.position_price{
  margin-bottom: 20px; 
}


/*タグ用*/



.tag ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag ul li {
  display: inline-block;
  margin: 0 0 .3em 1em;
  padding: 0;
}
.tag ul li a {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 1em;
  background-color: #3498db;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.tag ul li a::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #3498db transparent transparent;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  -webkit-transition: .2s;
  transition: .2s;
}
.tag ul li a::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}
.tag ul li span {
  display: block;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tag ul li a:hover {
  background-color: #555;
  color: #fff;
}
.tag ul li a:hover::before {
  border-right-color: #555;
}

.tag {
  margin-top:20px;
}


.comment_td{
  word-wrap: break-word;
  }

.comment_td_not{
  white-space: nowrap;
}



/*イイネボタン*/

.p_title{
  display:inline-block;
}

.not_hoshi{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: 000033;
}


.hoshi{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #ff8080 0%, #ff0000 100%);
    background-image: linear-gradient(45deg, #ff8080 0%, #ff0000 100%);
    transition: .4s;
}
.hoshi:hover {
     background-image: -webkit-linear-gradient(45deg, #ff5555 0%, #ff0000 100%);
    background-image: linear-gradient(45deg, #ff5555 0%,  #ff0000 100%);
}

/*イイネボタン*/

.like_image{
    height:40px;
    width:40px;

}

.like_td{
  vertical-align: middle;
   border:none;
}


}

/*ここまでproductに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからusersに対してのスタイリングCSS*/

.users{

background-color:#F6F7FB;

/*    #notice {
        padding-top: 200px
    }*/



.panel-body {
    padding: 0px;
    word-wrap: break-word;
}



label{
	display: inline;
}

.history_image , .order_history_image , .favorite_image{
    height: 180px;
    width: 320px;
}

.sns_image{
    height:80px;
    width:80px;
}

.td_vertical_align_middle.td_vertical_align_middle {
  vertical-align: middle;
}




/*フォームデザイン*/


  .form_design {
    position: relative;
    display: inline-block;
    margin: 5px 5px;
  }

.balloon {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #201B21;
  background: #FFF;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
  
  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 5px 15px;
    color: #201B21;
    font-size: 5px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19,74,70,0);
    transition: all .3s ease-in-out;
    border-radius: 3px;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 10%;
      margin-left: -3px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid rgba(122,184,147,0);
      transition: all .3s ease-in-out;
    }
  }
}
.balloon:focus,
.balloon:active {
  color: #201B21;
  text-indent: 0;
  background: #efefef;

  + label {
    color: #201B21;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #00B4FF;
    transform: translateY(-40px);
    &:after {
      border-top: 4px solid #00B4FF;
    }
  }
}

/*フォームデザイン*/


.edit_position_image{
  display: inline-block;
}


.introduction_form{
  margin-top:5px;
  width: 100%;
  height:400px;
  color: #201B21;
  background: #FFF;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  resize: none;
}

 .user_td{
     white-space: nowrap;
  }
 .user_td_cancer{
  word-break: break-all;
  }


.profile_image_layout{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.stats {
  color:#201B21;
}


.comment_image{
    height:40px;
    width:40px;

}

.comment_td{
  vertical-align: middle;
}

}

/*ここまでUsersに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからcartsに対してのスタイリングCSS*/

.carts{

background-color:#F6F7FB;

p {
    color: #201B21;
}

    .cart_item {
  vertical-align: middle;
    height: 180px;
    width: 320px;
      }

.cart_info{
    background:#eeeeee;
}


    .cart_price{
    display:inline;
    }


  .cart_product_title{
  width:100px;
  word-wrap: break-word;
  }


  .total_cart_price{
     white-space: nowrap;
  }
}




/*ここまでcartsに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからordersに対してのスタイリングCSS*/


.orders{

background-color:#F6F7FB;

p {
    color: #201B21;
}

    .order_image {
  vertical-align: middle;
  width:200px;
  height:200px;
}
/*    #notice {
        padding-top: 200px
    }*/

.cart_info{
    background:#eeeeee;
}


.box{
    display: flex;
    align-items: center;
    }

.profile_text{
    padding-top:30px;
}

.order_price{
    display:inline;
    }

 .order_td{
     white-space: nowrap;
  }


/*販売履歴*/

.sold_td{
  word-wrap: break-word;
  }


.sold_image {
    height: 180px;
    width: 320px;
}


.order_info{
    background:#eeeeee;
}


/*販売履歴*/


.point_form{
  border:none;
  background-color:#eeeeee;
  margin-right:-30%;
}


.text_receipt{
  margin-top:100px;
}

.must_email{
  color:red;
}


}


/*ここまでcartsに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからcontactsに対してのスタイリングCSS*/

.contacts{

  background-color:#F6F7FB;
  
.edit_contact_image{
    width: 100%;
    height: 500px;
}

 .contact_td{
     white-space: nowrap;
     color:#201B21;
  }

  .contact_confirm{
      color:#201B21;
  }

}




/*ここまでcontactsに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからhomesに対してのスタイリングCSS*/



.homes{

background-color:#F6F7FB;

  .row {
     margin-left: 0px; 
     margin-right: 0px; 
}

/*フォームデザイン*/

p {
margin: 0 0 0px;
color: #201B21;
}


.textleft {
  position: relative;
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #337ab7;
}
.textleft::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
}

/*お問い合わせ機能*/



.index_contact_form{
  margin-top:5px;
  width: 100%;
  height:200px;
  color: #201B21;
  background: #FFF;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  resize: none;
   word-wrap: break-word;
}

 .contact_td{
     white-space: nowrap;
  }


/*フォームデザイン*/
.form_text{
  margin-bottom:10px;
  padding:0px;

}

.balloon {
  display: inline-block;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #201B21;
  background: #FFF;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;

  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 400;
  }

  + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 5px 15px;
    color: #201B21;
    font-size: 5px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19,74,70,0);
    transition: all .3s ease-in-out;
    border-radius: 3px;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 10%;
      margin-left: -3px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid rgba(122,184,147,0);
      transition: all .3s ease-in-out;
    }
  }
}
.balloon:focus,
.balloon:active {
  color: #201B21;
  text-indent: 0;
  background: #efefef;

  + label {
    color: #201B21;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #00B4FF;
    transform: translateY(-40px);
    &:after {
      border-top: 4px solid #00B4FF;
    }
  }
}


.form_button{
  margin-top:10px;
}
/*フォームデザイン*/



/*お問い合わせ機能*/



html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 100%;
}


h2 {
  text-align: center;
  font-size: 80px;
  margin: 0;
  width: 100%;
}



.header {
  /*background-image: url("https://createkt.com/wp-content/uploads/2017/04/lifezakk_space_1-1200x630.png");*/
background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  
   background-color: #646770;
    background-image: 
        linear-gradient(0deg, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 100%),
        radial-gradient(at 50% 87%, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    
    background-blend-mode: multiply,normal;
}


.how_to_use{
 background-color: #F6F7FB;
}


.q_and_a_grid{
padding-bottom:100px;
    background: #989898;
    background: 
        linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
        radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%);
    background-blend-mode: multiply,multiply;
   margin-top: 505px;
   padding-top:50px;
}


.contact{
    padding:50px 0px 100px;
}


.header h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-family: impact;
  text-shadow: 0 0 50px #000;
  position: absolute;
  width: 100%;
  top: 35%;
}

.header:before {
  content: "";
  position: absolute;
  height:300px;
  width: 300%;
  background: #fff;
  bottom: -200px;
  left: -100%;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
  background-color: #F6F7FB;
}


 .use_image {
    border-radius: 10%;
}

.use_container{
  padding-top:50px;
  }


/*アコーディオン部分*/


ul {
  list-style: none;
}

.accordion-item {
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}

.accordion-item-left{
  margin-bottom: 100px;
}

.accordion-item-right{
  margin-top: 100px;
}

.accordion-item:hover {
}

.question {
  font-size: 15px;
  font-weight: 700;
  color: #201B21;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  width: 90%;
}

.accordion-item span {
  position: absolute;
  top: -25px;
  right: 5px;
  color: #201B21;
  font-size: 40px;
}

.answer {
  display: none;
  font-size: 15px;
  font-weight: 500;
  padding-top: 30px;
}

.answer p {
    color: #201B21;
     word-wrap: break-word;
  }


}


/*ここまでhomesに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからcontactsに対してのスタイリングCSS*/

.contacts{

background-color:#F6F7FB;


.contact_td{
    white-space: nowrap;
}


}

/*ここまでcontactsに対してのスタイリングCSS*/


/*//＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝


＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

ここからレスポンスブに対してのスタイリングCSS*/




/* タブレット向けレイアウト */
@media screen  and (max-width: 1000px) {


}


/* スマホ向けレイアウト */
@media all and (max-width: 670px) {



}






















