<META http-equiv="Refresh" content="3;URL=http://localhost:3000/products">
<div class="container">
<ol class="stepBar">
<li class="visited"><span>1</span><br>商品入力</li>
<li class="visited"><span>2</span><br>商品確認</li>
<li class="visited"><span>3</span><br>登録完了</li>
</ol>

	<div class="row">
		<h3 class="col-xs-12"><%= current_user.nickname %>様<hr></h3>
		<hr>
		<div class="col-xs-12 text-center well well-lg">
			<h2 class="text-danger">商品登録ありがとうございました。</h2>
			<h6><p></p>
			<p></p>
			<p></p></h6>
			<p>3秒後にページが移動します</p>
		</div>
	</div>
</div>

